body {
    text-align: center;
    padding: 50px;
}

#log {
   background:black;
   color:yellowgreen;
   padding:10px
}


#pkpaddr, #acc, #bal {
    
    color: blueviolet
}

textarea {
    width: 100%;
}
