body {
    text-align: center;
    margin: 50px;
    
}

#log {
   background:black;
   color:aqua;
   padding:10px;
   overflow-x:hidden; 
}


#pkpaddr, #acc, #bal, #pkppub {
    
    color: blueviolet
}

textarea {
    width: 100%;
}

a {
    color:Teal
}